.mainCont{
    width: 1800px;
    height: 930px;
    background-color: bisque;
    position: relative;
    display: flex;    
}

.house_ground{
    width: 1800px;
    height: 100px;
    background-color: rgb(220, 134, 88);
    position: fixed;
    display: flex;   
    z-index: 1;
    margin-top: 830px;
}

.ground_line_1{
    width: 1800px;
    height: 5px;
    background-color: rgb(4, 4, 3);
    position: fixed;
    display: flex;   
    z-index: 1;
    margin-top: 830px;
}

.fishbowl_base{
    width: 1400px;
    height: 100px;
    border-radius: 5% 5% 10% 10% / 10% 10% 53% 53%;
    background-color: rgb(54, 64, 66);
    margin-top: 750px;
    margin-left: 200px;
    border: 10px solid rgb(87, 83, 83);
    position: fixed;
    display: flex;  
    z-index: 2;
}

.randomSquare{
    width: 200px;
    height: 200px;
    background-color: rgb(54, 64, 66);
    position: fixed;
    display: flex;  
    z-index: 2;
    margin-top: 600px;
    margin-left: 1600px;
}

.half_fishbowl{
    width: 1300px;
    height: 275px;
    background-color: rgba(0, 205, 246, 0.523);
    margin-top: 200px;
    margin-left: 260px;
    position: fixed;
    display: flex;  
    z-index: 2;
    
}

.half_fishbowl_2{
    width: 1300px;
    height: 275px;
    background-color: rgba(27, 194, 227, 0.593);
    margin-top: 475px;
    margin-left: 260px;
    position: fixed;
    display: flex;  
    z-index: 2;
}

.fishbowl_basetop{
    width: 1400px;
    height: 100px;
    border-radius: 20% 20% 0% 0% / 22% 22% 0% 0%;
    background-color: rgb(54, 64, 66);
    margin-top: 81px;
    margin-left: 200px;
    border: 10px solid rgb(87, 83, 83);
    position: fixed;
    display: flex;  
    z-index: 2;
}

.aleta{
    animation: fishAnimation 20s;
    margin-top: 290px;
    margin-left: 790px;
    width: 100px;
    height: 100px;
    border-radius: 23% 78% 39% 10% / 93% 91% 0% 10%;
    background-color: rgb(221, 105, 27);
    position: fixed;
    display: flex;  
    z-index: 3;
}


.aleta_2{
    animation: fishAnimation 20s;
    margin-top: 400px;
    margin-left: 790px;
    width: 100px;
    height: 100px;
    border-radius: 58% 34% 100% 12% / 58% 11% 85% 53%;
    background-color: rgb(221, 105, 27);
    position: fixed;
    display: flex;  
    z-index: 3;
}


.cuerpo{
    animation: fishAnimation 20s;
    margin-top: 305px;
    margin-left: 740px;
    width: 190px;
    height: 190px;
    border-radius: 0% 100% 37% 87% / 22% 86% 33% 92% ;
    background-color: rgb(255, 102, 0);
    position: fixed;
    display: flex;  
    z-index: 4;
    transform: rotate(-45deg); /* Agrega esta línea para la rotación */
}

.cola{
    animation: fishAnimation 20s;
    margin-top: 305px;
    margin-left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    background-color: rgb(255, 102, 0);
    position: fixed;
    display: flex;  
    z-index: 4;
    transform: rotate(-5deg);
}

.cola_2{
    animation: fishAnimation 20s;
    margin-top: 390px;
    margin-left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    background-color: rgb(255, 102, 0);
    position: fixed;
    display: flex;  
    z-index: 4;
    transform: rotate(100deg);
}

.eye{
    animation: fishAnimation 20s;
    margin-top: 350px;
    margin-left: 870px;
    border: 5px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;  
    z-index: 5;
}


